.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    /*visibility: hidden;*/
}


/*Открытие попАп на чистом CSS
.popup {
    transform: translateY(-50%) scale(0);
    transition: background .8s ease-in-out, transform .5s linear; 
}

.popup:target {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%) scale(1);
}*/