.popup__content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 430px;
    margin: 0;
    padding: 34px 36px 37px 36px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    position: relative;
}

@media screen and (min-width: 320px) {
    .popup__content {
        width: 282px;
        padding: 25px 22px;
    }
}

@media screen and (min-width: 550px) {
    .popup__content {
        width: 430px;
        padding: 34px 36px 37px 36px;
    }
}
/* структурировать по БЭМ */
.popup__content-card-place {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup__image {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
}

.popup__image-title {
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-self: flex-start;
}
