.profile__about-him {
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    margin: 16px 0 0 0;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .profile__about-him {
        margin-top: 14px;
        width: 182px;
    }
}

@media screen and (min-width: 692px) {
    .profile__about-him {
        margin-top: 16px;
    }
}