.logo__like {
    width: 22px;
    height: 19px;
}

.logo__like:hover {
    opacity: .5;
}

.logo__like:active {
    background-image: url(../../../image/elements/logo__like_active.svg);
    opacity: 1;
}