.profile__name {
    font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
    box-sizing: border-box;
    height: 39px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    width: 294px;
}

.profile__name_not-value {
    outline: 1px solid rgba(255, 0, 0, .5);
    border-radius: 5px;
}

@media screen and (min-width: 320px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        width: 189px;
    }
}

@media screen and (min-width: 692px) {
    .profile__name {
        font-size: 42px;
        line-height: 48px;
        width: 294px;
    }
}