.popup__button-close {
    background: none;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: -204px;
    left: 8px;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (min-width: 320px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        top: -197px;
        left: -20px;
    }
}

@media screen and (min-width: 692px) {
    .popup__button-close {
        width: 32px;
        height: 32px;
        top: -204px;
        left: 8px;
    }
}