.profile__wrapper-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
}

@media screen and (min-width: 320px) {
    .profile__wrapper-name {
        padding-left: 14px;
    }
}

@media screen and (min-width: 620px) {
    .profile__wrapper-name {
        padding-left: 0;
    }
}