.profile__input_form_name {
    width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (min-width: 320px) {
    .profile__input_form_name {
        width: 189px;
        font-size: 27px;
        line-height: 33px;
    }

}

@media screen and (min-width: 692px) {
    .profile__input_form_name {
        width: 294px;
        font-size: 42px;
        line-height: 48px;
    }

}
