.profile__input_form_job {
    margin-top: 16px;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .profile__input_form_job {
        margin-top: 14px;
        width: 182px;
    }

}

@media screen and (min-width: 692px) {
    .profile__input_form_job {
        margin-top: 16px;
    }

}

